.icon{
    display: inline-block;    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/icon_round-pack.png) no-repeat 0 0 / auto 101%;
    vertical-align: top;
    &.att{
        position: absolute;
        left: 50%;
        top: 110px;
        margin-left: 35px;
        background-position-x: 0;
        cursor: pointer;
        &:hover{
            background-position-x: 33.33%;    
        }
    }
    &.sound{
        background-position-x: 100%;
    }
    &.mic{
        background-position-x: 66.66%;
    }
    &-like{
        display: inline-block;
        width: 26px;
        height: 22px;
        background: svgLike(none, fff) no-repeat 0 0 / 100% auto;
        &.active{
            background-image: svgLike(FF0000);
        }
    }
}
