@import 'base';

.main{
	&-bg{
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		img, video{
			position: absolute;
			left: 50%;
			top: 50%;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%, -50%);
		}
	}
}
.login{
	&-box{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 540px;
		transform: translate(-50%, -50%);
		font-size: 18px;
		.logo{
			text-align: center;
		}
	}
	&-list{
		margin-top: 110px;
		a{
			overflow: hidden;
			display: block;
			box-sizing: border-box;
			width: 300px;
			height: 40px;
			margin: 20px auto 0;
			border-radius: 20px;
			line-height: 38px;
			text-align: center;
			color: #fff;
		}
		.btn-round{
			border-color: #000;
		}
	}
	
}

.footer{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding-left: 27px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	line-height: 40px;
	button{
		position: relative;
		padding: 0 10px;
		&::before{
			content: '|';
			display: block;
			position: absolute;
			left: -2px;
			top: 8px;
		}
		@include parent-append(':first-child', 0){
			padding-left: 0;
			&::before{
				display: none;
			}
		}
	}
}